<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" th:href="@{/css/consumer/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/css/consumer/style.css}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

    <style>
        /*.fudiv:hover .dis {*/
            /*display: block;*/
        /*}*/

        .threed{
            color:sandybrown;
            font-size: 20px;
            /*text-indent: 100px;*/
            letter-spacing: 1px;
            /*word-spacing: 15px;*/
            text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777,
            0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444,
            0px 7px 0px #333, 0px 8px 7px #001135 }
        #weatherWidget .currentDesc {
            color: #ffffff!important;
        }
        .traffic-chart {
            min-height: 335px;
        }
        /*#flotPie1  {*/
        /*height: 150px;*/
        /*}*/
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>

<body>
<!-- Left Panel -->
<div th:replace="~{commons/consumerCommon::sidebar(active='search1.html')}"></div>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">


    <!--顶部导航栏-->
    <!--commons文件夹下的consunerCommon.html页面下的tobar  -->
    <div th:replace="~{commons/consumerCommon::topbar}"></div>

    <!-- /#header -->
    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">


            <div class="orders">
                <div class="row">
                    <div class="col-xl-8">
                        <div   class="card fudiv">


                            <!--输入牛只编号进行查询-->
                            <form method="post" th:action="@{/consumer/cattleCheck}" class="form-inline"  style="padding: 10px">
                                <div class="form-group">
                                    <p style="margin-top: 15px" class="form-control-static">请输入肉的条码：</p>

                                </div>

                                <div class="form-group">
                                    <label for="inputPassword2" class="sr-only">id</label>
                                    <input type="text" th:value="${cid!=null}?${cid}" name="cattleId" class="form-control" id="inputPassword2" placeholder="cattleId">
                                </div>

                                <button  type="submit" id="sub" class="btn btn-primary">查询</button>
                                <span th:text="${msg1!=null}?${msg1}" style="color: red"></span>
                            </form>



                            <div class="dis" id="div1">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Validation states</strong> with optional icons<em>(deprecated)</em>
                                    </div>
                                    <div class="card-body card-block">
                                        <form method="post" th:action="@{/consumer/cattleHasCheck}"  class="">
                                            <div class="has-success form-group">
                                                <label for="inputSuccess2i" class=" form-control-label">新生成数据地址详情</label>
                                                <input th:value="${hash!=null}?${hash}" name="hsah" type="text" id="inputSuccess2i" class="form-control-success form-control">
                                            </div>
                                            <div class="has-warning form-group">
                                                <label for="inputWarning2i" class=" form-control-label">区块链中数据地址详情</label>
                                                <input th:value="${newHash!=null}?${newHash}" name="newHash" type="text" id="inputWarning2i" class="form-control-warning form-control"></div>

                                            <div class="form-actions form-group">
                                                <button id="subm" type="submit" class="btn btn-success btn-sm">数据验证</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div> <!-- /.card -->
                    </div>  <!-- /.col-lg-8 -->
                </div>
            </div>

        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->
    <div class="clearfix"></div>
    <!-- Footer -->
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->

<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
<script th:src="@{/js/consumer/main.js}"></script>

<!--&lt;!&ndash;  Chart js &ndash;&gt;-->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

<!--&lt;!&ndash;Chartist Chart&ndash;&gt;-->
<script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
<script th:src="@{/js/consumer/weather-init.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
<script th:src="@{/js/consumer/fullcalendar-init.js}"></script>

<script>


    document.getElementById("subm").addEventListener("click",function () {
        console.log("ok");
        var hash= document.getElementById("inputSuccess2i").value;
        var newHash=document.getElementById("inputWarning2i").value;
        console.log(hash+"\n"+newHash);
        if(hash===newHash)
        {
            alert("数据验证成功，数据未被篡改");
        }else {
            alert("数据验证失败，数据被篡改");
        }
    })

</script>

</body>
</html>
