<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>

  <!-- Favicons -->
  <link th:href="@{/images/quotient/favicon.png}" rel="icon">
  <link th:href="@{/images/quotient/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link th:href="@{/css/quotient/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/css/quotient/font-awesome.css}" rel="stylesheet" />
  <link th:href="@{/css/quotient/style.css}" rel="stylesheet">
  <link th:href="@{/css/quotient/style-responsive.css}" rel="stylesheet">

  
</head>

<body>
  <section id="container">
      <!--顶部导航栏-->
      <div th:replace="~{commons/quotientCommon::topbar}"></div>
        <!--侧边栏-->
      <div th:replace="~{commons/quotientCommon::sidebar}"></div>



 <!--主体部分-->
    <section id="main-content">
      <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Basic Table Examples</h3>
        <div class="row">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i> Basic Table</h4>
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>牛只编号</th>
                    <th>操作员编号</th>
                    <th>牛只种类</th>
                    <th>牛只性别</th>
                    <th>入拦日期</th>
                    <th>出拦日期</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="cattle,num:${cattles}">
                    <td  th:text="${num.index}"></td>
                    <td th:text="${cattle.getCattleId()}"></td>
                    <td th:text="${cattle.getOperatorId()}"></td>
                    <td th:text="${cattle.getCattleType()}"></td>
                    <td th:text="${cattle.getCattleGender()}"></td>
                    <td th:text="${#dates.format(cattle.getCattledate(),'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(cattle.getOutDate(),'yyyy-MM-dd')}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /col-md-12 -->
          <!-- /col-md-12 -->
        </div>

      </section>
    </section>
    <!-- /MAIN CONTENT -->
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->
  <script th:src="@{/js/quotient/jquery.min.js}"></script>
  <script th:src="@{/js/quotient/bootstrap.min.js}"></script>
  <script class="include" type="text/javascript" th:src="@{/js/quotient/jquery.dcjqaccordion.2.7.js}"></script>
  <script th:src="@{/js/quotient/jquery.scrollTo.min.js}"></script>
  <script th:src="@{/js/quotient/jquery.nicescroll.js}" type="text/javascript"></script>
  <!--common script for all pages-->
  <script th:src="@{/js/quotient/common-scripts.js}"></script>
  <!--script for this page-->
  
</body>

</html>
